/* .for-pc
{
    display: block;
}
.for-sp
{
    display: none;
}
@media only screen and (max-width: 767px)
{
    .for-pc { display: none; }
    .for-sp { display: block; }
} */
body
{
    font-size: 24px;
    text-align: center;
    background: repeating-linear-gradient(to top, #fffbd6, #fffbd6 6px, #fffde5 6px, #fffde5 20px);
}

.check
{
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    height: 200px;
    background: linear-gradient(45deg, #b2dafa 25%, transparent 25%, transparent 75%, #b2dafa 75%),
                linear-gradient(45deg, #b2dafa 25%, transparent 25%, transparent 75%, #b2dafa 75%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    background-color: rgb(66, 125, 143) ;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(66, 125, 143);
}
.board
{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 1420px;
    background-color: rgb(66, 125, 143) ;
}
.title
{
    width: 1420px;
    text-align: center;
    background-color: black;
    color: white;
}
.test
{
    margin-top: 800px;
}

#Back
{
    background: repeating-linear-gradient(to top, #fffbd6, #fffbd6 6px, #fffde5 6px, #fffde5 20px);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

